<div style="text-align: center; margin-bottom: 20px;">
  <img src="https://res.cloudinary.com/de0ld2xax/image/upload/v1750686807/logo-casapin_u1lobo.png" alt="Casa Pin" width="180">


</div>
<h2>📩 Nueva solicitud de reserva</h2>
<p><strong>Nombre:</strong> {{ nombre }}</p>
<p><strong>Email:</strong> {{ email }}</p>
<p><strong>Teléfono:</strong> {{ telefono }}</p>
<p><strong>Entrada:</strong> {{ fecha_inicio }}</p>
<p><strong>Salida:</strong> {{ fecha_fin }}</p>
<p><strong>Comentarios:</strong><br>{{ mensaje }}</p>
<p><strong>Total estimado:</strong> {{ precio_total }}</p>

